$fz: 16;
$fz_base: 16;
$z-index-substrate: 1;
$z-index-gradient: 3;
$z-index-elements: 2;
/*
Font family
*/
$font-family-OpenSansCondensed: 'Open Sans Condensed';
$font-family-Oxanium: 'Oxanium';
$font-family-Poppins: 'Poppins';